* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  height: 100%;
}
img {
  display: block;
}
.container {
  padding: 45px 0 55px 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.lt-header {
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #006699;
  color: #fff;
  z-index: 999;
}
.lt-header .h-left {
  height: 100%;
  width: 45px;
  float: left;
  text-align: center;
}
.lt-header .h-left a {
  width: 100%;
  height: 100%;
  line-height: 45px;
  color: #fff;
}
.lt-header .h-right {
  height: 100%;
  width: 45px;
  float: right;
  text-align: center;
}
.lt-header .h-right a {
  width: 100%;
  height: 100%;
  line-height: 45px;
  color: #fff;
}
.lt-header h4 {
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-weight: 400;
  margin: 0;
}
.lt-footer {
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #006699;
  z-index: 999;
}
.lt-footer ul {
  width: 100%;
  text-align: center;
}
.lt-footer ul li {
  padding-top: 10px;
  float: left;
  height: 100%;
  width: 25%;
}
.lt-footer ul li a {
  height: 100%;
  display: block;
  color: #fff;
}
.lt-footer ul li a p {
  margin: 0;
  font-size: 12px;
  color: #fff;
}
.lt-footer .now a,
.lt-footer .now p {
  color: yellow;
}
.lt-main {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: relative;
}
