.lt-main {
  position: relative;
  overflow: hidden;
}
.lt-main .search {
  padding: 10px;
}
.lt-main .search input {
  height: 34px;
  font-size: 14px;
  position: relative;
  margin: 0;
}
.lt-main .search button {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0 3px 3px 0;
}
.lt-main .content {
  background-color: #ccc;
}
.lt-main .content .title {
  padding: 0 10px 0px 10px;
}
.lt-main .content .title ul {
  height: 30px;
}
.lt-main .content .title ul li {
  width: 25%;
  float: left;
  text-align: center;
  line-height: 30px;
}
.lt-main .content .title ul li a {
  font-size: 12px;
  color: #666;
}
.lt-main .content .title .active a {
  color: yellow;
}
.lt-main .content .list {
  padding: 10px;
  background-color: #fff;
  text-align: center;
}
.lt-main .content .list .pro-item {
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.lt-main .content .list .pro-item:nth-child(even) {
  margin-left: 4%;
}
.lt-main .content .list .pro-item img {
  width: 100%;
}
.lt-main .content .list .pro-item .price {
  color: red;
}
